{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    


    <!-- Link to Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- MESSAGES -->
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS or message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p id="message-timer" class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %} float-center text-center message-text">{{ message }}</p>
        {% endif %}
    {% endfor %}
<div class="container mt-4">
    <div class="row md-4">
        <div class="card">
            <div>
                <div class="card-header">
                    <h2 class="text-center">Edit Classroom</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="classroom_name">Classroom Name:</label>
                            <input type="text" name="classroom_name" id="classroom_name" value="{{ classroom.classroom }}" required>
                        </div>

                        <div class="form-group">
                            <label for="gradelevel_id">Grade Level:</label>
                            <select name="gradelevel_id" id="gradelevel_id" required>
                                {% for gradelevel in gradelevels %}
                                    <option value="{{ gradelevel.id }}" {% if gradelevel.id == current_gradelevel %}selected{% endif %}>{{ gradelevel.grade }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="teacher_id">Assign Teacher:</label>
                            <select name="teacher_id" id="teacher_id">
                                <option value="-1" {% if classroom.teacher is None %}selected{% endif %}>None</option>
                                {% for teacher in teachers %}
                                    <option value="{{ teacher.id }}" {% if teacher.id == classroom.teacher_id %}selected{% endif %}>{{ teacher.user.last_name }}, {{ teacher.user.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group text-center">
                            <a href="{% url 'grade_sections' %}" class="btn btn-secondary margin">Back to View Classrooms</a>
                            <button type="submit" class="btn btn-primary margin">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
