{% extends 'base.html' %}
{% load static %}

{% block head_block %}
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  


  <!-- Link to Bootstrap JavaScript -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="container">
    <form method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="container">
        <form method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}
    
          <div class="row jumbotron box8">
            <div class="col-sm-12 mt-3 mb-4 card-header">
              <div class ='margin'>
              <a href="{% url 'view_student_detail' lrn=student.LRN %}" class="btn btn-primary">Back</a>
              </div>
              <h2 class="text-center">Edit Student Information</h2>
              <br>
            </div>
            
            <!-- PERSONAL DETAILS -->

            <div class="col-sm-12 mx-t5 mb-2">
              <h4>Personal Details</h4>
              <hr>
            </div>
            
            <div class="col-sm-4 form-group">
              <label for="{{ form.first_name.id_for_label }}">First Name:</label>
              {{ form.first_name }}
              {{ form.first_name.errors }}
            </div>
    
            <div class="col-sm-3 form-group">
              <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
              {{ form.last_name }}
              {{ form.last_name.errors }}
            </div>
    
            <div class="col-sm-3 form-group">
              <label for="{{ form.middle_name.id_for_label }}">Middle Name:</label>
              {{ form.middle_name }}
              {{ form.middle_name.errors }}
            </div>
    
            <div class="col-sm-2 form-group">
              <label for="{{ form.suffix_name.id_for_label }}">Suffix:</label>
              {{ form.suffix_name }}
              {{ form.suffix_name.errors }}
            </div>

            <div class="col-sm-3 form-group">
              <label for="{{ form.status.id_for_label }}">Status:</label>
              {{ form.status }}
              {{ form.status.errors }}
           </div>
    
            <div class="col-sm-3 form-group">
              <label for="{{ form.LRN.id_for_label }}">LRN:</label>
              {{ form.LRN }}
              {{ form.LRN.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.birthday.id_for_label }}">Birthday:</label>
              <div class="birthday-input">
                <input type="date" id="{{ form.birthday.id_for_label }}" name="{{ form.birthday.html_name }}" value="{{ form.instance.birthday|date:'Y-m-d' }}">
              </div>
              {{ form.birthday.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.religion.id_for_label }}">Religion:</label>
              {{ form.religion }}
              {{ form.religion.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.other_religion.id_for_label }}">Other Religion:</label>
              {{ form.other_religion }}
              {{ form.other_religion.errors }}
            </div>

            <div class="col-sm-3 form-group">
              <label for="{{ form.strand.id_for_label }}">Strand:</label>
              {{ form.strand }}
              {{ form.strand.errors }}
            </div>
    
            <div class="col-sm-3 form-group">
              <label for="{{ form.gradelevel.id_for_label }}">Grade Level:</label>
              {{ form.gradelevel }}
              {{ form.gradelevel.errors }}
            </div>
          
            <div class="col-sm-3 form-group">
              <label for="{{ form.sem.id_for_label }}">Semester:</label>
              {{ form.sem }}
              {{ form.sem.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.classroom.id_for_label }}">Classroom:</label>
              {% if form.classroom.initial %}
                <select name="{{ form.classroom.html_name }}" class="form-control">
                  {% for choice in form.classroom.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0|stringformat:"s" == form.classroom.initial|stringformat:"s" %}selected{% endif %}>{{ choice.1 }}</option>
                  {% endfor %}
                </select>
              {% else %}
                {{ form.classroom }}
              {% endif %}
              {{ form.classroom.errors }}
            </div>
    
            <div class="col-sm-3 form-group">
              <label for="{{ form.sex.id_for_label }}">Sex:</label>
              {{ form.sex }}
              {{ form.sex.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.birth_place.id_for_label }}">Birth Place:</label>
              {{ form.birth_place }}
              {{ form.birth_place.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.mother_tongue.id_for_label }}">Mother Tongue:</label>
              {{ form.mother_tongue }}
              {{ form.mother_tongue.errors }}
            </div>
    
            <div class="col-sm-3 form-group">
              <label for="{{ form.father_name.id_for_label }}">Father Name:</label>
              {{ form.father_name }}
              {{ form.father_name.errors }}
            </div>
          
            <div class="col-sm-3 form-group">
              <label for="{{ form.father_contact.id_for_label }}">Father Contact Information:</label>
              {{ form.father_contact }}
              {{ form.father_contact.errors }}
            </div>
          
            <div class="col-sm-3 form-group">
              <label for="{{ form.mother_name.id_for_label }}">Mother Name:</label>
              {{ form.mother_name }}
              {{ form.mother_name.errors }}
            </div>
          
            <div class="col-sm-3 form-group">
              <label for="{{ form.mother_contact.id_for_label }}">Mother Contact Information:</label>
              {{ form.mother_contact }}
              {{ form.mother_contact.errors }}
            </div>
          
            <div class="col-sm-3 form-group">
              <label for="{{ form.guardian_name.id_for_label }}">Guardian Name:</label>
              {{ form.guardian_name }}
              {{ form.guardian_name.errors }}
            </div>
          
            <div class="col-sm-3 form-group">
              <label for="{{ form.guardian_contact.id_for_label }}">Guardian Contact Information:</label>
              {{ form.guardian_contact }}
              {{ form.guardian_contact.errors }}
            </div>
    
            <div class="col-sm-12 form-group">
              <label for="{{ form.address.id_for_label }}">Address:</label>
              {{ form.address }}
              {{ form.address.errors }}
            </div>
          
    
            <!-- STUDENT HISTORY -->
            <div class="col-sm-12 mx-t5 mb-2">
              <br>
              <h4>Student History</h4>
              <hr>
            </div>

            <!-- STUDENT HISTORY TABLE -->
            <div class="container">
              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="text-nowrap text-center align-middle">Grade Level</th>
                      <th class="text-nowrap text-center align-middle">School</th>
                      <th class="text-nowrap text-center align-middle">School Year</th>
                      <th class="text-nowrap text-center align-middle">Section</th>
                      <th class="text-nowrap text-center align-middle">Average Grade</th>
                      <th class="text-nowrap text-center align-middle">Adviser</th>
                      <th class="text-nowrap text-center align-middle">Contact</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Grade 7 HISTORY -->
                    <tr>
                      <td class="text-center align-middle"><strong>Grade 7</strong></td>
                      <td>
                        <div class="form-group">
                          {{ form.g7_school }}
                          {{ form.g7_school.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g7_schoolYear }}
                          {{ form.g7_schoolYear.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g7_section }}
                          {{ form.g7_section.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g7_general_average }}
                          {{ form.g7_general_average.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g7_adviser }}
                          {{ form.g7_adviser.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g7_adviserContact }}
                          {{ form.g7_adviserContact.errors }}
                        </div>
                      </td>
                    </tr>

                    <!-- Grade 8 HISTORY -->
                    <tr>
                      <td class="text-center align-middle"><strong>Grade 8</strong></td>
                      <td>
                        <div class="form-group">
                          {{ form.g8_school }}
                          {{ form.g8_school.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g8_schoolYear }}
                          {{ form.g8_schoolYear.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g8_section }}
                          {{ form.g8_section.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g8_general_average }}
                          {{ form.g8_general_average.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g8_adviser }}
                          {{ form.g8_adviser.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g8_adviserContact }}
                          {{ form.g8_adviserContact.errors }}
                        </div>
                      </td>
                    </tr>

                    <!-- Grade 9 HISTORY -->
                    <tr>
                      <td class="text-center align-middle"><strong>Grade 9</strong></td>
                      <td>
                        <div class="form-group">
                          {{ form.g9_school }}
                          {{ form.g9_school.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g9_schoolYear }}
                          {{ form.g9_schoolYear.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g9_section }}
                          {{ form.g9_section.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g9_general_average }}
                          {{ form.g9_general_average.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g9_adviser }}
                          {{ form.g9_adviser.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g9_adviserContact }}
                          {{ form.g9_adviserContact.errors }}
                        </div>
                      </td>
                    </tr>

                    <!-- Grade 10 HISTORY -->
                    <tr>
                      <td class="text-center align-middle"><strong>Grade 10</strong></td>
                      <td>
                        <div class="form-group">
                          {{ form.g10_school }}
                          {{ form.g10_school.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g10_schoolYear }}
                          {{ form.g10_schoolYear.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g10_section }}
                          {{ form.g10_section.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g10_general_average }}
                          {{ form.g10_general_average.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g10_adviser }}
                          {{ form.g10_adviser.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g10_adviserContact }}
                          {{ form.g10_adviserContact.errors }}
                        </div>
                      </td>
                    </tr>

                    <!-- Grade 11 HISTORY -->
                    <tr>
                      <td class="text-center align-middle"><strong>Grade 11</strong></td>
                      <td>
                        <div class="form-group">
                          {{ form.g11_school }}
                          {{ form.g11_school.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g11_schoolYear }}
                          {{ form.g11_schoolYear.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g11_section }}
                          {{ form.g11_section.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g11_general_average }}
                          {{ form.g11_general_average.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g11_adviser }}
                          {{ form.g11_adviser.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g11_adviserContact }}
                          {{ form.g11_adviserContact.errors }}
                        </div>
                      </td>
                    </tr>

                    <!-- Grade 12 HISTORY -->
                    <tr>
                      <td class="text-center align-middle"><strong>Grade 12</strong></td>
                      <td>
                        <div class="form-group">
                          {{ form.g12_school }}
                          {{ form.g12_school.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g12_schoolYear }}
                          {{ form.g12_schoolYear.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g12_section }}
                          {{ form.g12_section.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g12_general_average }}
                          {{ form.g12_general_average.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g12_adviser }}
                          {{ form.g12_adviser.errors }}
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          {{ form.g12_adviserContact }}
                          {{ form.g12_adviserContact.errors }}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
    

    
            <!-- OTHER DETAILS -->
            <div class="col-sm-12 mx-t5 mb-2">
              <br>
              <h4>Other Details</h4>
              <hr>
            </div>

            <div class="col-sm-3 form-group">
              <label for="{{ form.transfer_status.id_for_label }}">Transfer Status:</label>
              {{ form.transfer_status }}
              {{ form.transfer_status.errors }}
            </div>
    
            <div class="col-sm-3 form-group">
              <label for="{{ form.household_income.id_for_label }}">Household Income:</label>
              {{ form.household_income }}
              {{ form.household_income.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.is_returnee.id_for_label }}">Is Returnee:</label>
              {{ form.is_returnee }}
              {{ form.is_returnee.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.is_a_dropout.id_for_label }}">Is a Dropout:</label>
              {{ form.is_a_dropout }}
              {{ form.is_a_dropout.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.is_a_working_student.id_for_label }}">Is a Working Student:</label>
              {{ form.is_a_working_student }}
              {{ form.is_a_working_student.errors }}
            </div>
          
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.health_bmi.id_for_label }}">Health BMI:</label>
              {{ form.health_bmi }}
              {{ form.health_bmi.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.general_average.id_for_label }}">General Average:</label>
              {{ form.general_average }}
              {{ form.general_average.errors }}
            </div>
            
            <div class="col-sm-3 form-group">
              <label for="{{ form.is_a_four_ps_scholar.id_for_label }}">Is a 4Ps Scholar:</label>
              {{ form.is_a_four_ps_scholar }}
              {{ form.is_a_four_ps_scholar.errors }}
            </div>
    
                  <!-- New Notes Field -->
            <div class="col-sm-12 form-group">
              <label for="{{ form.notes.id_for_label }}">Notes (Other scholarships, conduct, PWD, etc.):</label>
              {{ form.notes }}
              {{ form.notes.errors }}
            </div>
    
            <div class="col-sm-12 form-group mb-0">
              <hr>
              <button type="submit" class="btn btn-primary right">Save Changes</button>
            </div>
          </div>
        </form>
      </div>

{% endblock %}
