{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    <!-- Link to Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}


{% block content %}
<center>
<h1>LIST OF SECTIONS</h1>
<br>
<a href="{% url 'add_classroom' %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
    Add New Classroom
  </a>

</center>
<br>
<div class="table-container">
    {% if tags %}
        {% for tag in tags %}
            <center>
                <h2>{{ tag.gradelevel }}</h2>
                <div class="table-responsive">
                    <!--This table is to help specify the css file to format the classroom tables to align -->
                    <table class="table-striped" style="width: 70rem;" id="classroom-table-{{ tag.gradelevel }}">
                        <thead>
                            <tr>
                                <th>Classroom</th>
                                <th>Teacher</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <hr style="border-top: 2px solid black; margin-top: 20px; margin-bottom: 20px;">


                            {% for classroom in tag.classroom %}
                                <tr>
                                    <td>
                                        
                                        <a href="{% url 'classroom_detail' classroom.id %}">{{ classroom.classroom }}</a>
                                    </td>
                                    <td>
                                        {% if classroom.teacher %}
                                            {{ classroom.teacher.user.first_name }} {{ classroom.teacher.user.last_name }}
                                        {% else %}
                                            Not assigned
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_classroom' classroom.id %}" class="btn btn-primary margin">Edit</a>
                                        <form action="{% url 'delete_classroom' classroom.id %}" method="POST" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-danger margin">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                        
                    </table>
                    <hr style="border-top: 2px solid black; margin-top: 20px; margin-bottom: 20px;">


                </div>
            </center>
        {% endfor %}
    {% endif %}
</div>
<center>
<!-- IMPORT -->
<form method="post" enctype="multipart/form-data" action="{% url 'import_classrooms' %}">
    {% csrf_token %}
    <input type="file" name="myfile"/>
    <button type="submit">Upload</button>
  </form>


    <br>
    <a href="{% url 'export_classrooms_to_excel' %}" class="btn btn-success" style="margin-left: 10px;">
        Export Classrooms to Excel
    </a>
    
</center>

<!--
<br>

  <a href="{% url 'add_classroom' %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
    Add New Classroom
  </a>
-->

<!-- Add DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    
    // Check if there is a stored scroll position
    var storedScrollPos = sessionStorage.getItem('scrollPos');
    if (storedScrollPos !== null) {
        // Scroll to the stored position after the page has loaded
        window.onload = function () {
            window.scrollTo(0, storedScrollPos);
        };

        // Clear the stored scroll position
        sessionStorage.removeItem('scrollPos');
    }

    // Store the scroll position when leaving the page
    window.onbeforeunload = function () {
        sessionStorage.setItem('scrollPos', window.scrollY);
    };
</script>
  

  

{% endblock content %}
