{% extends 'base.html' %}
{% load static %}


{% block head_block %}

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    


    <!-- Link to Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="text-center">
  <h1>{{ classroom.gradelevel }} "{{ classroom.classroom }}"</h1>

  <h3>TEACHER: {{ classroom.teacher.first_name }} {{ classroom.teacher.last_name }}</h3>
</div>

<div class="search-container">
    <form action="{% url 'students' %}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Student Name/LRN" required class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<center>
  <h6>IMPORT STUDENTS using Excel (.xlsx) files. Please use <a href="{% url 'download_template' %}" download>This Template.</a></h6>

  <div class="form-container">
    <!-- IMPORT -->
    <form method="post" enctype="multipart/form-data" action="{% url 'import_students' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload Excel File of Students:</label>
            <div class="file-upload-wrapper">
              <input class="form-control" type="file" name="myfile" id="formFile" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
    <br>
  <!-- TABLE DATA -->
    <div class="table-container">
        <table id="studentTable" class="table table-striped">
            <thead style="background-color: #026223; color: white;">
            <tr>
                <th>LRN</th>
                <th>Name</th>
                <th>Status</th>
                <th>Age</th>
                <th>Grade & Section</th>
                <th>General Average</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.LRN }}</td>
                    <td>{{ student.last_name }}
                        {% if student.suffix_name %}, {{ student.suffix_name }}{% endif %}
                        {% if student.first_name %}, {{ student.first_name }}{% endif %}
                        {% if student.middle_name %} {{ student.middle_name }}{% endif %}
                    </td>
                    <td>{{ student.status }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.gradelevel.grade }} {{ student.classroom }}</td>
                    <td>{{ student.general_average }}</td>
                    <td>
                        <a href="{% url 'view_student_detail' lrn=student.LRN %}" class="btn btn-primary view-button">
                            View Profile
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    
</center>
<br>

{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <p id="message-timer"
            class="alert alert-success float-center text-center message-text">{{message}}</p>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p id="message-timer"
            class="alert alert-danger float-center text-center message-text">{{ message }}</p>
    {% endif %}
{% endfor %}


<br>

<center>
  <span id="pageNumber"></span>
  <button id="prevButton" class="btn btn-secondary" style="margin-right: 5px;">Previous</button>
  <button id="nextButton" class="btn btn-secondary">Next</button>


<br>
<br>


  <a href="{% url 'add_student' %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
      Manually Add A Student
  </a>
<br>
<br>
<button id="promoteButton"
style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
PROMOTE
</button>
</center>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    const studentsPerPage = 6;
    let currentPage = 1;

    promoteButton.addEventListener('click', function () {
          if (confirm('Are you sure you want to promote these students?')) {
              // Make an AJAX request to trigger the promotion
              fetch("{% url 'bulk_promote_students' %}", {
                  method: 'POST',
                  headers: {
                      'X-CSRFToken': document.querySelector('input[name=csrfmiddlewaretoken]').value
                  }
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      // Handle success
                      alert(data.message);
                  } else {
                      // Handle failure
                      throw new Error(data.message);
                  }
              })
              .catch(error => {
                  // Handle error
                  console.error(error);
                  alert('Failed to promote students');
              });
          }
      });
    function displayStudents() {
      const tableRows = document.querySelectorAll('#studentTable tbody tr');
      const totalPages = Math.ceil(tableRows.length / studentsPerPage);
      const startIndex = (currentPage - 1) * studentsPerPage;
      const endIndex = startIndex + studentsPerPage;
      const pageNumberElement = document.getElementById('pageNumber');
      pageNumberElement.textContent = `Page ${currentPage} of ${totalPages}`;
    
      tableRows.forEach((row, index) => {
        if (index >= startIndex && index < endIndex) {
          row.style.display = 'table-row';
        } else {
          row.style.display = 'none';
        }
      });

      const prevButton = document.getElementById('prevButton');
      const nextButton = document.getElementById('nextButton');

      prevButton.disabled = currentPage === 1;
      nextButton.disabled = currentPage === totalPages;
    }

    const prevButton = document.getElementById('prevButton');
    prevButton.addEventListener('click', () => {
      if (currentPage > 1) {
        currentPage--;
        displayStudents();
      }
    });

    const nextButton = document.getElementById('nextButton');
    nextButton.addEventListener('click', () => {
      const tableRows = document.querySelectorAll('#studentTable tbody tr');
      const totalPages = Math.ceil(tableRows.length / studentsPerPage);

      if (currentPage < totalPages) {
        currentPage++;
        displayStudents();
      }
    });

    // Initial display on page load
    displayStudents();
  });
</script>


{% endblock content %}
