{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Link to Bootstrap JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="search-container">
    <form action="{% url 'students' %}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Student Name/LRN" required class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<center>
    <h1>{{ classroom.gradelevel }} "{{ classroom.classroom }}"</h1>

    <h3>TEACHER: {{ classroom.teacher.first_name }} {{ classroom.teacher.last_name }}</h3>
    <br>
    <a href="{% url 'add_student' %}"
        style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
        Add New Student
    </a>

    <br>
    <br>

    <h6>IMPORT STUDENTS using Excel (.xlsx) files. Please use <a href="{% url 'download_template' %}" download>This Template.</a></h6>

    <!-- IMPORT -->
    <form method="post" enctype="multipart/form-data" action="{% url 'import_students' %}">
        {% csrf_token %}
        <input type="file" name="myfile"/>
        <button type="submit">Upload</button>
    </form>
</center>
<br>

{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <p id="message-timer"
            class="alert alert-success float-center text-center message-text">{{message}}</p>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p id="message-timer"
            class="alert alert-danger float-center text-center message-text">{{ message }}</p>
    {% endif %}
{% endfor %}

<br>
<form action="{% url 'bulk_promote_students' %}" method="post" id="bulkPromoteForm">
    {% csrf_token %}
    <div class="table-container">
        <table class="table table-striped" id="studentTable">
            <thead>
                <tr>
                    <th>LRN</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Age</th>
                    <th>Grade & Section</th>
                    <th>General Average</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.LRN }}</td>
                    <td>{{ student.last_name }} 
                        {% if student.suffix_name %}, {{ student.suffix_name }}{% endif %}
                        {% if student.first_name %}, {{ student.first_name }}{% endif %}
                        {% if student.middle_name %} {{ student.middle_name }}{% endif %}
                    </td>
                    <td>{{ student.status }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.gradelevel.grade }} {{ student.classroom }}</td>
                    <td>{{ student.general_average }}</td>
                    <td>
                        <button type="button" class="btn btn-primary view-button" data-bs-toggle="modal" data-bs-target="#studentModal{{ student.lrn }}{{ forloop.counter }}">
                            View Profile
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

{% for student in students %}
  <!-- Modal - Student Profile -->
  <div class="modal fade" id="studentModal{{ student.lrn }}{{ forloop.counter }}" tabindex="-1" aria-labelledby="studentModalLabel{{ student.lrn }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studentModalLabel{{ student.lrn }}">Student Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="profile-section">
            <h4>Student Information</h4>
            <p><strong>Name:</strong> {{ student.first_name }} {{ student.last_name }}</p>
            <p><strong>Age:</strong> {{ student.age }}</p>
            <p><strong>Grade:</strong> {{ student.classroom }}</p>
            <p><strong>Academic Strand:</strong> {{ student.get_strand_display }}</p>
            <p><strong>Address:</strong> {{ student.address }}</p>
            <p><strong>Gender:</strong> {{ student.sex }}</p>
            <p><strong>Birthday:</strong> {{ student.birthday }}</p>
            <p><strong>Religion:</strong> {{ student.religion }} (Other Religion: {{ student.other_religion }})</p>
            <p><strong>Mother Tongue:</strong> {{ student.mother_tongue }}</p>
            <!--<p><strong>Preferred Learning Modality:</strong> {{ student.modality_options }}</p> -->
            <p><strong>Economic Range:</strong> {{ student.get_economic_range_display }}</p>
            <p><strong>Returnee Student:</strong> {{ student.get_is_returnee_display }}</p>
            <p><strong>Working Student:</strong> {{ student.get_is_a_working_student_display }}</p>
            <p><strong>Drop Out:</strong> {{ student.get_is_a_dropout_display }}</p>
            <p><strong>4Ps Scholar:</strong> {{ student.get_is_a_four_ps_scholar_display }}</p>
            <!-- Add more student profile data as needed -->
          </div>
          
          <div class="profile-section">
            <h4>Parents Information</h4>
            <p><strong>Father's Name:</strong> {{ student.father_name }} {{ student.father_contact }}</p>
            <p><strong>Father Contact #:</strong> {{ student.father_contact }}</p>
            <p><strong>Mother's Name:</strong> {{ student.mother_name }}</p>
            <p><strong>Mother Contact #:</strong> {{ student.mother_contact }}</p>
            <!-- Add more parent profile data as needed -->
          </div>
        </div>
        <div class="modal-footer">
          <a href="{% if student.LRN %}{% url 'edit_student' student.LRN %}{% endif %}" class="btn btn-secondary">Edit</a>
          <a href="{% if student.LRN %}{% url 'delete_student' student.LRN %}{% endif %}" class="btn btn-danger" title="Delete">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


<center>
  <span id="pageNumber"></span>
  <button id="prevButton" class="btn btn-secondary" style="margin-right: 5px;">Previous</button>
  <button id="nextButton" class="btn btn-secondary">Next</button>

</center>
<br>
<center>
<button id="promoteButton"
style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
PROMOTE
</button>
</center>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    const studentsPerPage = 6;
    let currentPage = 1;

    promoteButton.addEventListener('click', function () {
          if (confirm('Are you sure you want to promote these students?')) {
              // Make an AJAX request to trigger the promotion
              fetch("{% url 'bulk_promote_students' %}", {
                  method: 'POST',
                  headers: {
                      'X-CSRFToken': document.querySelector('input[name=csrfmiddlewaretoken]').value
                  }
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      // Handle success
                      alert(data.message);
                  } else {
                      // Handle failure
                      throw new Error(data.message);
                  }
              })
              .catch(error => {
                  // Handle error
                  console.error(error);
                  alert('Failed to promote students');
              });
          }
      });
    function displayStudents() {
      const tableRows = document.querySelectorAll('#studentTable tbody tr');
      const totalPages = Math.ceil(tableRows.length / studentsPerPage);
      const startIndex = (currentPage - 1) * studentsPerPage;
      const endIndex = startIndex + studentsPerPage;
      const pageNumberElement = document.getElementById('pageNumber');
      pageNumberElement.textContent = `Page ${currentPage} of ${totalPages}`;
    
      tableRows.forEach((row, index) => {
        if (index >= startIndex && index < endIndex) {
          row.style.display = 'table-row';
        } else {
          row.style.display = 'none';
        }
      });

      const prevButton = document.getElementById('prevButton');
      const nextButton = document.getElementById('nextButton');

      prevButton.disabled = currentPage === 1;
      nextButton.disabled = currentPage === totalPages;
    }

    const prevButton = document.getElementById('prevButton');
    prevButton.addEventListener('click', () => {
      if (currentPage > 1) {
        currentPage--;
        displayStudents();
      }
    });

    const nextButton = document.getElementById('nextButton');
    nextButton.addEventListener('click', () => {
      const tableRows = document.querySelectorAll('#studentTable tbody tr');
      const totalPages = Math.ceil(tableRows.length / studentsPerPage);

      if (currentPage < totalPages) {
        currentPage++;
        displayStudents();
      }
    });

    // Initial display on page load
    displayStudents();
  });
</script>


{% endblock content %}
