{% load static %}
{% load crispy_forms_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->

    <title>VRCNHS</title>
</head>


<body>
    <!-- Navbar! -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success mb-3">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- Log in  button -->
                <form class="form-inline my-2 my-lg-0">
                <h6 style="color: white;">Back</h6>
                <a href="{% url 'login' %}" class="btn btn-primary ml-3">Log in</a>
                </form>
            </ul>
        </div>
        

    </nav>

    </nav>
    <div class="row justify-content-center">
        <div class="COL-6">
            <div class="card">
                <div class="card-body">
                <h2>Teacher Sign up</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ teacher_form.as_p }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</body>

